<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Secure Sharing</title>
    <link href="/static/images/icon.svg" rel="icon" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/styles.css">
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
    <script type="module" src="/static/js/app.js"></script>
</head>

<body class="d-flex flex-column">
    <div id="header"></div>

    <div id="content" class="container pt-5 pb-5">
        <article>
            <h1>App Loading...</h1>
        </article>
    </div>

    <div id="footer"></div>
</body>

</html>